<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="main-container">
    <div class="icon-bar">
        
        <a class="std-link" [routerLink]="['/home/chatbot']" routerLinkActive="active">Home </a>
        <a class="std-link" [routerLink]="['/home/contact']" routerLinkActive="active">Contact Info </a>
        <a class="auth-link" [routerLink]="['/agent']">Login</a>
            
    </div>
    <div class="route-content">
        <router-outlet></router-outlet>
    </div>
</div>

