<div class="chat-window">
    <div class="window-header">
        <button type="button" class="close-button" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="minimize-button" (click)="minimizeWindow()"><span aria-hidden="true">&minus;</span></button>

        <h4 class="window-title">OIT ChatBot</h4>
    </div>
    <div class="window-body">
        <div class="message-display">
            
            <div *ngIf="notConnected" class="loader">

            </div>
                
            <ul *ngIf="Messages">
                <li *ngFor="let msg of Messages"
                    class="msg-row" [ngClass]="msgAlignment(msg.from.id)" >
                    <span class="bubble" [ngClass]="bubbleProperties(msg.from.id)">{{msg['text']}}</span>
                </li>
            </ul>

        </div>
        <div class="partition"></div>
        <div class="input-area">
            <input #msgref type="text" [(ngModel)]="defaultVal" class="text-input" (keyup.enter)="submitMessage(msgref.value)" />
        </div>
        <div class="button-container">
            <button type="button" class="req-button" (click)="makeLiveRequest()">Live Request</button>
        </div>
    </div>

</div>



<!--

<div draggable-element class="body modal custom modal-dialog" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">OIT CHAT BOT</h4>
            </div>
            <div class="modal-body">

                <div class="chat-display">
                        <div *ngIf="notConnected" class="loader">
                            
                        </div>

                    <ul *ngIf="Messages">
                        <li class="msg-bubble chatmessages" *ngFor="let msg of Messages">{{msg}}</li>
                    </ul>

                </div>

                <div>
                    <textarea #msgref [(ngModel)]="defaultVal" class="form-control input-display" rows="2" id="message-text" (keyup.enter)="submitMessage(msgref.value)"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="makeLiveRequest()">Live Request</button>
                <button type="button" class="exit-button" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="submit-button" (click)="submitMessage(msgref.value)">Send</button>
            </div>
        </div>
    </div>
</div>

    -->