


.icon-bar {
    width: 100%;
    background-color: #0c2340;
    overflow: auto;
}

    .icon-bar a {
        float: left;
        text-align: center;
        width: 20%;
        padding: 8px 0;
        transition: all 0.3s ease;
        color: #f15a22;
        font-size: 20px;
    }

        .icon-bar a:hover {
            background-color: rgb(40, 71, 119);
        }

.active {
    background-color: rgb(40, 71, 119);
}
