<div class="chat-window">
    <div class="window-header">
        <button type="button" class="close-button" (click)="closeWindow()"><span aria-hidden="true">&times;</span></button>

        <h4 class="window-title">OIT ChatBot</h4>
    </div>
    <div class="window-body">
        <div class="message-display">

            <div *ngIf="notConnected" class="loader">

            </div>

            <ul *ngIf="Messages">
                <li *ngFor="let msg of Messages"
                    class="msg-row" [ngClass]="msgAlignment(msg.from.id)">
                    <span class="bubble" [ngClass]="bubbleProperties(msg.from.id)">
                        <span class="message-sender">{{msg['from']['name']}}</span>
                        {{msg['text']}}
                    </span>
                </li>
            </ul>

        </div>
        <div class="partition"></div>
        <div class="input-area">
            <input #msgref type="text" [(ngModel)]="defaultVal" class="text-input" (keyup.enter)="submitMessage(msgref.value)" [disabled]="notConnected" />
        </div>
        <div class="button-container">
            <button type="button" class="req-button" (click)="makeLiveRequest()">Live Request</button>
        </div>
    </div>

</div>