<div class="main-stage">

    <div class="main-display">
        <div class="chat-container">
            <div class="chat-frame"></div>
            <div class="side-frame">
                <div class="side-display"></div>
            </div>
            <div class="side-panel">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
        </div>

    </div>
    <div class="minimize-bar">

    </div>
</div>