
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<!--ngIf is the if condition that is used render alternative templates or inline templates-->
<!-- Here it is saying that if forecasts objects has not yet been loaded , show 'Loading...' untill it does-->
<p *ngIf="!forecasts"><em>Loading...</em></p>

<!-- here ngIf is saying if Loaded, then render the headers an dthe data-->
<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <!--the headers for the taple-->
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <!-- using ng for-loop, display the properties of the forecast object properties (prop=col, object=row)-->
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>