
.column-font{
    font-family: "Lato", sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*For the buttons*/ the padding, 
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    bo
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.vertical-tab {
    text-align: center;
    font-stretch: ultra-expanded;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    box-shadow: 0 3px #211a1a;
    background-color: #808080;
    border: 1px solid #111;
}

.vertical-tab:hover{
    background-color: #494949;
}

.vertical-tab:active{
    background-color: darkgrey;
    box-shadow: 0 5px #111;
    transform: translateY(4px);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid darkblue;
    border-bottom: 16px solid orange;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*&#10624;*/