<div class="main-content">

    <div class="student-chat-list">
        <div class="chat-list-header">
            <a class="pending-list" (click)="changeToPending()" routerLinkActive="active">Pending</a>
            <a class="channel-list" (click)="changeToChannels()" routerLinkActive="active">Channels</a>
        </div>
        <div class="list-container">
            <pending-list [displayList]="clickedPending" (liveRequestSelect)="createRequestDisplay($event)"></pending-list>
            <watch-list [displayChannels]="!clickedPending" (openChannelSelect)="createChannelDisplay($event)"> </watch-list>
        </div>
    </div>

    <div class="main-stage">

        <div class="main-display">
            <div class="window-container">
                <div class="insert-window">
                    
                   <div insertWindow></div> 
                </div> 
            </div>
            <div class="input-bar">
                <input-bar [agentId]="myuid" [agentName]="userName"></input-bar>
            </div>
        </div>

        <div class="minimized-windows">

            <minimized-window-container></minimized-window-container>
        </div>
    </div>
    <div class="agent-chat">
        <agent-group-chat></agent-group-chat>
    </div>

</div>