<!-- This is whats displayed on the right side body when the HomeComponent is selected (either from URL at start
    or when the <home> selector is clicked from the navbar template)-->

<!-- standard HTML links and notes, NOTE: we will have to use angulars routing to map only one comp[onent of the template
    to an external URL]-->
<h1>OIT Chatbot Services</h1>
<p>Click the ChatBot icon for assistance</p>
<div class="wrapper">
    <button type="button">ChatBot</button>
    <button type="button" class="btn btn-primary">Agent Login</button>
    <login-modal></login-modal>

</div>
<br />
<p>Assistance provided</p>
<ul>
    <li><strong>Prinspot Services:</strong> (Installing the driver on personal computer, using our app, sending to via emial)</li>
    <li><strong>More to come...</strong></li>
</ul>
